body {
  margin: 0;
  line-height: normal;
}
.rectangle-div41 {
  position: absolute;
  top: 126.5px;
  left: 114px;
  border-radius: 5px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.b19 {
  position: absolute;
  top: 28px;
  left: 17px;
  display: inline-block;
}
.ms-collection-p19 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.denim-shirt-p15 {
  margin: 0;
}
.ms-collection-denim-shirt16 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  display: inline-block;
}
.group-div28,
.rectangle-div42 {
  position: absolute;
  top: 333px;
  left: 154px;
  width: 91px;
  height: 41px;
}
.rectangle-div42 {
  top: 397.5px;
  left: 312px;
  border-radius: 5px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.group-div29 {
  position: absolute;
  top: 601px;
  left: 352px;
  width: 91px;
  height: 41px;
}
.image-8-icon3,
.rectangle-div43 {
  position: absolute;
  border-radius: 5px;
}
.image-8-icon3 {
  top: 417px;
  left: 326px;
  width: 143px;
  height: 180px;
  object-fit: cover;
}
.rectangle-div43 {
  top: 126.5px;
  left: 312px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.group-div30 {
  position: absolute;
  top: 336px;
  left: 352px;
  width: 91px;
  height: 41px;
}
.image-13-icon1,
.image-14-icon1 {
  position: absolute;
  top: 153px;
  left: 326px;
  border-radius: 5px;
  width: 143px;
  height: 180px;
  object-fit: cover;
}
.image-14-icon1 {
  left: 128px;
  cursor: pointer;
}
.rectangle-div44,
.rectangle-div45 {
  position: absolute;
  top: 397.5px;
  left: 911px;
  border-radius: 5px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.rectangle-div45 {
  top: 126.5px;
}
.group-div31,
.group-div32,
.rectangle-div46 {
  position: absolute;
  top: 331px;
  left: 947px;
  width: 91px;
  height: 41px;
}
.group-div32,
.rectangle-div46 {
  top: 599px;
}
.rectangle-div46 {
  top: 397.5px;
  left: 710px;
  border-radius: 5px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.group-div33 {
  position: absolute;
  top: 605px;
  left: 750px;
  width: 91px;
  height: 41px;
}
.image-10-icon2,
.rectangle-div47 {
  position: absolute;
  border-radius: 5px;
}
.image-10-icon2 {
  top: 417px;
  left: 724px;
  width: 143px;
  height: 180px;
  object-fit: cover;
}
.rectangle-div47 {
  top: 127px;
  left: 711px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.group-div34 {
  position: absolute;
  top: 337px;
  left: 750px;
  width: 91px;
  height: 41px;
}
.image-11-icon3,
.image-15-icon1 {
  position: absolute;
  top: 153px;
  left: 725px;
  border-radius: 5px;
  width: 143px;
  height: 180px;
  object-fit: cover;
}
.image-15-icon1 {
  left: 925px;
}
.rectangle-div48,
.rectangle-div49 {
  position: absolute;
  top: 397.5px;
  left: 511px;
  border-radius: 5px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.rectangle-div49 {
  top: 126.5px;
}
.group-div35 {
  position: absolute;
  top: 336px;
  left: 549px;
  width: 91px;
  height: 41px;
}
.image-12-icon1,
.rectangle-div50 {
  position: absolute;
  border-radius: 5px;
}
.image-12-icon1 {
  top: 153px;
  left: 525px;
  width: 143px;
  height: 180px;
  object-fit: cover;
}
.rectangle-div50 {
  top: 397.5px;
  left: 114px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.group-div36,
.group-div37,
.image-9-icon2 {
  position: absolute;
  top: 601px;
  left: 171px;
  width: 91px;
  height: 41px;
}
.group-div37,
.image-9-icon2 {
  top: 605px;
  left: 549px;
}
.image-9-icon2 {
  top: 417px;
  left: 128px;
  border-radius: 5px;
  width: 143px;
  height: 180px;
  object-fit: cover;
}
.image-5-icon2,
.rectangle-icon1 {
  position: absolute;
  top: 118px;
  left: 312.5px;
  border-radius: 5px;
  width: 170px;
  height: 250px;
}
.image-5-icon2 {
  top: 417px;
  left: 925px;
  width: 143px;
  height: 176px;
  object-fit: cover;
}
.navigation-div6 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  background: linear-gradient(
    177.14deg,
    rgba(0, 0, 0, 0.98),
    #000 47.92%,
    #000 50%,
    #000
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 1196px;
  height: 90px;
  mix-blend-mode: normal;
}
.group-div38 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1195px;
  height: 89px;
}
.shopshack-div8 {
  position: absolute;
  top: 20px;
  left: 92px;
  font-size: 40px;
  font-family: "Dancing Script";
  display: inline-block;
}
.about-us-div7,
.contact-div6,
.home-div6 {
  position: absolute;
  top: 31px;
  left: 750px;
  display: inline-block;
  width: 119px;
  height: 36px;
}
.contact-div6,
.home-div6 {
  left: 608px;
  width: 95px;
}
.home-div6 {
  left: 370px;
  width: 145px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.shopify-icon8 {
  position: absolute;
  top: 7px;
  left: 24px;
  width: 50px;
  height: 74px;
  object-fit: cover;
}
.shop-div6 {
  position: absolute;
  top: 31px;
  left: 486px;
  display: inline-block;
  width: 75px;
  height: 36px;
}
.user-profile-icon6,
.vector-icon7 {
  position: absolute;
  height: 40.45%;
  width: 3.01%;
  top: 34.83%;
  right: 7.87%;
  bottom: 24.72%;
  left: 89.12%;
  max-width: 100%;
  max-height: 100%;
}
.user-profile-icon6 {
  right: 2.09%;
  left: 94.9%;
}
.nav-bar-div6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1195px;
  height: 89px;
  text-align: left;
  font-size: 24px;
  color: #fff;
  font-family: Prata;
}
.image-6-icon2 {
  position: absolute;
  top: 417px;
  left: 525px;
  border-radius: 5px;
  width: 143px;
  height: 180px;
  object-fit: cover;
}
.desktop-8 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 719px;
  overflow: hidden;
  text-align: center;
  font-size: 11px;
  color: #000;
  font-family: Inter;
}
