body {
  margin: 0;
  line-height: normal;
}
.rectangle-div6 {
  position: absolute;
  top: 397.5px;
  left: 312px;
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 170px;
  height: 250px;
}
.b {
  position: absolute;
  top: 28px;
  left: 17px;
  display: inline-block;
}
.ms-collection-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.denim-shirt-p {
  margin: 0;
}
.ms-collection-denim-shirt {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  display: inline-block;
}
.group-div2 {
  position: absolute;
  top: 605px;
  left: 352px;
  width: 91px;
  height: 41px;
}
.image-8-icon,
.rectangle-div7 {
  position: absolute;
  border-radius: 5px;
}
.image-8-icon {
  top: 417px;
  left: 326px;
  width: 143px;
  height: 180px;
  object-fit: cover;
}
.rectangle-div7 {
  top: 397.5px;
  left: 911px;
  background-color: #f5f5f5;
  width: 170px;
  height: 250px;
}
.group-div3 {
  position: absolute;
  top: 605px;
  left: 951px;
  width: 91px;
  height: 41px;
}
.image-10-icon,
.rectangle-div8 {
  position: absolute;
  border-radius: 5px;
}
.rectangle-div8 {
  top: 397.5px;
  left: 710px;
  background-color: #f5f5f5;
  width: 170px;
  height: 250px;
}
.image-10-icon {
  top: 417px;
  left: 724px;
  width: 143px;
  height: 180px;
  object-fit: cover;
}
.rectangle-div10,
.rectangle-div9 {
  position: absolute;
  top: 397.5px;
  left: 511px;
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 170px;
  height: 250px;
}
.rectangle-div10 {
  left: 114px;
}
.group-div4 {
  position: absolute;
  top: 605px;
  left: 154px;
  width: 91px;
  height: 41px;
  cursor: pointer;
}
.image-5-icon,
.image-9-icon {
  position: absolute;
  top: 417px;
  left: 128px;
  border-radius: 5px;
  width: 143px;
  height: 180px;
  object-fit: cover;
}
.image-5-icon {
  left: 921px;
  height: 176px;
}
.navigation-div2 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  background: linear-gradient(
    177.14deg,
    rgba(0, 0, 0, 0.98),
    #000 47.92%,
    #000 50%,
    #000
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 1196px;
  height: 90px;
  mix-blend-mode: normal;
}
.group-div5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1195px;
  height: 89px;
}
.shopshack-div2 {
  position: absolute;
  top: 20px;
  left: 92px;
  font-size: 40px;
  font-family: "Dancing Script";
  display: inline-block;
}
.about-us-div2,
.contact-div2,
.home-div2 {
  position: absolute;
  top: 31px;
  left: 750px;
  display: inline-block;
  width: 119px;
  height: 36px;
}
.contact-div2,
.home-div2 {
  left: 608px;
  width: 95px;
}
.home-div2 {
  left: 370px;
  width: 145px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.shopify-icon2 {
  position: absolute;
  top: 7px;
  left: 24px;
  width: 50px;
  height: 74px;
  object-fit: cover;
}
.shop-div2 {
  position: absolute;
  top: 31px;
  left: 486px;
  display: inline-block;
  width: 75px;
  height: 36px;
}
.user-profile-icon2,
.vector-icon3 {
  position: absolute;
  height: 40.45%;
  width: 3.01%;
  top: 34.83%;
  right: 7.87%;
  bottom: 24.72%;
  left: 89.12%;
  max-width: 100%;
  max-height: 100%;
}
.user-profile-icon2 {
  right: 2.09%;
  left: 94.9%;
}
.nav-bar-div2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1195px;
  height: 89px;
  text-align: left;
  font-size: 24px;
  color: #fff;
  font-family: Prata;
}
.image-6-icon {
  position: absolute;
  top: 417px;
  left: 525px;
  border-radius: 5px;
  width: 143px;
  height: 180px;
  object-fit: cover;
}
.group-div6,
.group-div7,
.rectangle-div11 {
  position: absolute;
  top: 605px;
  left: 549px;
  width: 91px;
  height: 41px;
}
.group-div7,
.rectangle-div11 {
  left: 751px;
}
.rectangle-div11 {
  top: 147px;
  left: 114px;
  background-color: #d9d9d9;
  filter: blur(4px);
  border: 1px solid #000;
  box-sizing: border-box;
  width: 950px;
  height: 232px;
}
.estimated-delivery-b,
.friday-16th-sept-monday-19th {
  position: absolute;
  top: 295px;
  font-size: 15px;
  display: inline-block;
}
.friday-16th-sept-monday-19th {
  left: 292px;
  width: 295px;
}
.estimated-delivery-b {
  left: 155px;
  font-family: Solway;
}
.ms-collection-denim-shirt5,
.your-order-b {
  position: absolute;
  top: 265px;
  font-size: 15px;
  display: inline-block;
}
.ms-collection-denim-shirt5 {
  left: 243px;
  width: 239px;
}
.your-order-b {
  left: 155px;
  font-family: Solway;
}
.image-11-icon {
  position: absolute;
  top: 164px;
  left: 911px;
  border-radius: 5px;
  width: 143px;
  height: 180px;
  object-fit: cover;
}
.thank-you-your-order-has-been {
  position: absolute;
  top: 182px;
  left: 141px;
  font-size: 30px;
  font-weight: 800;
  font-family: Solway;
  color: #2f982d;
  display: inline-block;
  width: 609px;
  height: 53px;
}
.rectangle-div12 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 199px;
  height: 29px;
}
.buy-again-div,
.continue-shopping-div {
  position: absolute;
  top: 3px;
  left: 44.75px;
  font-weight: 600;
  display: inline-block;
  width: 107.15px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.continue-shopping-div {
  top: 0;
  left: 17px;
  color: #fff;
  text-align: center;
  width: 166.6px;
  cursor: pointer;
}
.group-div8 {
  position: absolute;
  top: 315px;
  left: 681px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 199px;
  height: 29px;
  cursor: pointer;
  text-align: left;
  font-size: 17px;
  font-family: Poppins;
}
.desktop-15 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 719px;
  overflow: hidden;
  text-align: center;
  font-size: 11px;
  color: #000;
  font-family: Inter;
}
