body {
  margin: 0;
  line-height: normal;
}
.rectangle-div51,
.rectangle-div52 {
  position: absolute;
  top: 127px;
  left: 114px;
  border-radius: 5px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.rectangle-div52 {
  top: 387px;
  left: 312px;
}
.b29 {
  position: absolute;
  top: 28px;
  left: 17px;
  display: inline-block;
}
.ms-collection-p29 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.denim-shirt-p25 {
  margin: 0;
}
.ms-collection-denim-shirt26 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  display: inline-block;
}
.group-div39,
.rectangle-div53 {
  position: absolute;
  top: 595.5px;
  left: 351px;
  width: 91px;
  height: 41px;
}
.rectangle-div53 {
  top: 126.5px;
  left: 312px;
  border-radius: 5px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.group-div40 {
  position: absolute;
  top: 327px;
  left: 352px;
  width: 91px;
  height: 41px;
}
.rectangle-div54,
.rectangle-div55 {
  position: absolute;
  top: 387px;
  left: 911px;
  border-radius: 5px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.rectangle-div55 {
  top: 126.5px;
}
.group-div41,
.rectangle-div56 {
  position: absolute;
  top: 327px;
  left: 955px;
  width: 91px;
  height: 41px;
}
.rectangle-div56 {
  top: 387px;
  left: 709px;
  border-radius: 5px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.group-div42,
.rectangle-div57 {
  position: absolute;
  top: 595.5px;
  left: 749px;
  width: 91px;
  height: 41px;
}
.rectangle-div57 {
  top: 126.5px;
  left: 710px;
  border-radius: 5px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.group-div43 {
  position: absolute;
  top: 594px;
  left: 550px;
  width: 91px;
  height: 41px;
}
.rectangle-div58,
.rectangle-div59 {
  position: absolute;
  top: 387px;
  left: 512px;
  border-radius: 5px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.rectangle-div59 {
  top: 126.5px;
  left: 511px;
}
.group-div45 {
  position: absolute;
  top: 327px;
  left: 552px;
  width: 91px;
  height: 41px;
}
.rectangle-icon2,
.rectangle-icon3 {
  top: 142.5px;
  width: 143px;
  height: 176px;
  object-fit: cover;
}
.rectangle-icon2 {
  position: absolute;
  left: 128px;
  border-radius: 5px;
}
.rectangle-icon3 {
  left: 722px;
}
.rectangle-div60,
.rectangle-icon3,
.rectangle-icon4 {
  position: absolute;
  border-radius: 5px;
}
.rectangle-icon4 {
  top: 143px;
  left: 924px;
  width: 143px;
  height: 176px;
  object-fit: cover;
}
.rectangle-div60 {
  top: 387px;
  left: 114px;
  background-color: #eaeaea;
  width: 170px;
  height: 250px;
}
.group-div46 {
  position: absolute;
  top: 597px;
  left: 154px;
  width: 91px;
  height: 41px;
}
.rectangle-icon5,
.rectangle-icon6 {
  position: absolute;
  border-radius: 5px;
}
.rectangle-icon5 {
  top: 418.5px;
  left: 128px;
  width: 143px;
  height: 176px;
  object-fit: cover;
}
.rectangle-icon6 {
  top: 118px;
  left: 312.5px;
  width: 170px;
  height: 250px;
}
.image-1-icon,
.image-2-icon,
.image-3-icon1,
.image-4-icon,
.image-5-icon3,
.rectangle-icon7 {
  position: absolute;
  top: 142.5px;
  left: 524px;
  border-radius: 5px;
  width: 143px;
  height: 176px;
  object-fit: cover;
}
.image-1-icon,
.image-2-icon,
.image-3-icon1,
.image-4-icon,
.image-5-icon3 {
  left: 326px;
}
.image-2-icon,
.image-3-icon1,
.image-4-icon,
.image-5-icon3 {
  top: 408px;
}
.image-3-icon1,
.image-4-icon,
.image-5-icon3 {
  top: 404.5px;
  left: 525px;
  height: 179px;
}
.image-4-icon,
.image-5-icon3 {
  top: 403px;
  left: 722px;
  height: 180px;
}
.image-5-icon3 {
  left: 924px;
  height: 176px;
}
.navigation-div7 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  background: linear-gradient(
    177.14deg,
    rgba(0, 0, 0, 0.98),
    #000 47.92%,
    #000 50%,
    #000
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 1196px;
  height: 90px;
  mix-blend-mode: normal;
}
.group-div47 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1195px;
  height: 89px;
}
.shopshack-div9 {
  position: absolute;
  top: 20px;
  left: 92px;
  font-size: 40px;
  font-family: "Dancing Script";
  display: inline-block;
}
.about-us-div8,
.contact-div7,
.home-div7 {
  position: absolute;
  top: 31px;
  left: 750px;
  display: inline-block;
  width: 119px;
  height: 36px;
}
.contact-div7,
.home-div7 {
  left: 608px;
  width: 95px;
}
.home-div7 {
  left: 370px;
  width: 145px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
}
.shopify-icon9 {
  position: absolute;
  top: 7px;
  left: 24px;
  width: 50px;
  height: 74px;
  object-fit: cover;
}
.shop-div7 {
  position: absolute;
  top: 31px;
  left: 486px;
  display: inline-block;
  width: 75px;
  height: 36px;
}
.user-profile-icon7,
.vector-icon8 {
  position: absolute;
  height: 40.45%;
  width: 3.01%;
  top: 34.83%;
  right: 7.87%;
  bottom: 24.72%;
  left: 89.12%;
  max-width: 100%;
  max-height: 100%;
}
.user-profile-icon7 {
  right: 2.09%;
  left: 94.9%;
}
.nav-bar-div7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1195px;
  height: 89px;
  text-align: left;
  font-size: 24px;
  color: #fff;
  font-family: Prata;
}
.group-div48,
.group-div49,
.group-div50 {
  position: absolute;
  top: 327px;
  width: 91px;
  height: 41px;
}
.group-div48 {
  left: 154px;
  cursor: pointer;
}
.group-div49,
.group-div50 {
  left: 750px;
}
.group-div50 {
  top: 594.5px;
  left: 955px;
}
.desktop-7 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 719px;
  overflow: hidden;
  text-align: center;
  font-size: 11px;
  color: #000;
  font-family: Inter;
}
